body{
    font-family: "Itim", cursive;
    background: whitesmoke;
    color:black;
    margin:0px;
    margin-bottom: 100px;
}
.chamada{
    background:rgb(255, 255, 111);
    display:flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
}